#!/usr/bin/env bash
# shellcheck disable=SC1090

PROJ="$(git rev-parse --show-toplevel)"

function __envrc__source_global_functions() {
  local log_lib="$PROJ/shell/.shock/lib/log.api.sh"
  local import_lib="$PROJ/shell/.shock/lib/import.func.sh"

  if [[ -f "$log_lib"  && -f "$import_lib" ]]; then
    source "$log_lib"
    source "$import_lib"
  else
    echo "Missing shellshock. Run 'git submodule update --init --recursive'" >&2
    echo "After, run shell/.shock/workspace_init.sh" >&2
  fi
}

SHELLSHOCK_ENVRC="source $PROJ/.envrc"

__envrc__source_global_functions

export PROJ
export SHELLSHOCK_ENVRC
