#!/usr/bin/env bash
# shellcheck disable=SC1091

PROJ="$(git rev-parse --show-toplevel)"

function __envrc__source_global_functions() {
  source "$PROJ/shell/.shock/lib/log.api.sh"
  source "$PROJ/shell/.shock/lib/import.func.sh"
}

SHELLSHOCK_ENVRC="source $PROJ/.envrc"

__envrc__source_global_functions

export PROJ
export SHELLSHOCK_ENVRC
